<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d68fcd">  <td>22/01/31 19:40:37</td>   <td>0</td> <td title="&gt;&gt;Test2.before_all()[pri:0, instance:com.automation.TestFiles.Test2@4b8ee4de]">&gt;&gt;before_all</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1961501712</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/01/31 19:42:00</td>   <td>82999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.closeBrowser()[pri:0, instance:com.automation.TestFiles.Test2@4b8ee4de]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1961501712</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/01/31 19:42:00</td>   <td>82999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.closeBrowser()[pri:0, instance:com.automation.TestFiles.Test2@4b8ee4de]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1961501712</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/01/31 19:42:00</td>   <td>83292</td> <td title="&lt;&lt;Test2.closeExtendReport()[pri:0, instance:com.automation.TestFiles.Test2@4b8ee4de]">&lt;&lt;closeExtendReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1961501712</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/01/31 19:41:22</td>   <td>44719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.excelReadTest(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.automation.TestFiles.Test2@4b8ee4de]">excelReadTest</td> 
  <td>main@1961501712</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/01/31 19:41:22</td>   <td>44719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.excelReadTest(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.automation.TestFiles.Test2@4b8ee4de]">excelReadTest</td> 
  <td>main@1961501712</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/01/31 19:41:21</td>   <td>43785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.initReport()[pri:0, instance:com.automation.TestFiles.Test2@4b8ee4de]">&gt;&gt;initReport</td> 
<td>&nbsp;</td>  <td>main@1961501712</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/01/31 19:41:21</td>   <td>43785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.initReport()[pri:0, instance:com.automation.TestFiles.Test2@4b8ee4de]">&gt;&gt;initReport</td> 
<td>&nbsp;</td>  <td>main@1961501712</td>   <td></td> </tr>
</table>
